/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

/*Variable*/
:root {
    --font-redrose: 'Red Rose', cursive;
}

/* Global */
html {
    scroll-behavior:  smooth;
}

body {
    background-color: rgb(25, 25, 25);
    overflow-x: hidden;
}

*::selection {
    background-color: transparent;
}

* {
    color: white;
}

/* NAV BAR */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    z-index: 99999;
    background-color: rgb(20, 20, 20) !important;
}

.logo h2 {
    font-size: 18px;
    color: red;
    transition: .3s;
    cursor: pointer;
    animation: animasi 5s infinite alternate;
}

.logo h2:hover {
    transform: scale(1.5);
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: row;
}

ul li {
    margin: auto 10px;
    overflow: hidden;
}

ul li:hover div {
    transform: translateY(29px);
}

ul li a {
    color: white !important;
}

.about:target ul li:nth-child(2) a {
    color: red !important;
}

.box-nav {
    transition: .3s;
    width: 100%;
    height: 50px;
    margin-top: -25px;
}

li a div h3 {
    font-size: 18px !important;
    text-transform: capitalize;
}

/* END OF NAV BAR */

/*INFO*/
.info {
    width: 25px;
    height: 25px;
    background-color: rgb(255, 0, 0);
    position: fixed;
    border: 1px solid rgb(32, 28, 28);
    border-radius: 50%;
    z-index: 999999;
    color: rgb(255, 255, 255);
    bottom: 15px;
    left: 15px;
    font-size: 15px;
}

button:focus {
    outline: none;
}

.info::before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: rgb(255, 0, 0);
    position: fixed;
    border-radius: 50%;
    z-index: 1;
    line-height: 25px;
    color: rgb(25, 25, 25);
    bottom: 15px;
    left: 15px;
    cursor: default;
    animation: info 1s infinite;
}
/*END OF INFO*/

/* WELCOME/LANDING PAGE */
#welcome-section {
    min-width: 10vh;
    min-height: 100vh;
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Anonymous Pro', monospace;
    background-color: rgb(25, 25, 25);
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
    position: relative;
    z-index: 9999;
}

.jumpToBottom {
    position: absolute;
    right: 10px;
    animation: jumpToBottom .5s infinite alternate;
}

.title {
    font-family: 'Red Rose', cursive;
    display: inline-block;
    color: white;
    font-size: 40px;
}

.myName {
    z-index: 9999;
    color: rgb(25, 25, 25);
    background-color: white;
    cursor: pointer;
    transition: .3s;
    font-size: 40px;
    font-family: 'Red Rose', cursive;
}

.myName:hover {
    background-color: rgb(25, 25, 25);
    animation: animasi 2.5s .25s infinite;
}

/* END OF WELCOME/LANDING PAGE */


/* ABOUT */
.about {
    min-height: 100vh;
    width: 100%;
    background-color:rgba(59, 59, 59, 0.78) !important;
    padding-top: 80px;
}


/* mengatur card */
.about .card {
    padding: 20px;
    position: relative;
    border-radius: 20px;
    height: 550px;
    box-shadow: 5px 6px 6px black;
    transition: all .5s;
}

/* akhir dari mengtur card



/*gambar aku*/
.myImg {
    position: relative;
    padding: 10px;
}

.myImg img {
    margin-right: 30px;
}
/* akhir dari gambar aku */



/*info tentang saya*/
.NameSpan {
    color: black;
    line-height: 35px;
}

.Name {
    color: rgb(104, 101, 101);
}
/* akhir dari tentang saya */



/* data skill */
.skill {
    width: 100%;
    padding-left: 11px;
    margin-top: 30px;
}

/* yg dibawah mengatur judul Skill*/
.skillTitle {
    display: block;
    font-size: 23px;
    color: black;
}
/*END*/


/*parent dari data*/
.dataSkill {
    margin-top: 20px;
}
/* parent dari data*/



/* yg dibawah mengatur judul data misal HTML CSS  */
.dataSkillTitle {
    font-size: 18px;
    color: 
    rgb(104, 101, 101);
}
/*END mengatur judul data*/


/*HORIZONTAL PROGRESS DATA*/

/* parent progress */
.progress {
    margin-left: 10px;
    transform: scale(1.05);
    border-radius: 20px;
}
/* END OF PARENT PROGRESS */ 

/*Child of parent progress / data aslinya*/
.inProgress {
    height: 100%;
    background-color: black;
    border-radius: 20px;
}
/* endof Child of parent progress / data aslinya*/

/*JUDUL DATA*/
.html {
    width: 95%;
}

.css {
    width: 75%;
}

.bootsrap {
    width: 5%;
}

.dataSkill .progress .bootstrapText {
    color: black !important;
}
/* end of judul data */

/* percent data */
.percent {
    position: absolute;
    left: 5px;
    top: 7px;
}
/* end of percent data */

/* end of HORIZONTAL PROGRESS DATA*/


/*Tentang (sebelah kanan)*/

/**/
.about-col {
    position: absolute;
    right: 0;
}

.about-col p {
    margin-top: 100px;
    color: black;
}

.box {
    background-color: rgb(63, 63, 63);
    height: 40px;
    width: 450px;
    position: absolute;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.aboutTitle {
    color: white;
    position: absolute;
    z-index: 9999;
}
/*end ofTentang (sebelah kanan)*/

/* end of About */

/*Projects*/
#projects {
    min-height: 100vh;
    width: 100% ;
    padding-top: 80px;
}

.container .row .project-tile {
    font-size: 40px;
    font-family: 'Rowdies';
    display: block;
    width: 100% !important;
}

.container .row hr {
    width: 300px;
    border: 1.8px solid white;
    border-radius: 20px; 
    transition: .3s;
}

/* card */

.projects .kartu {
    position: relative;
    height: 290px;
    width: 350px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    border: 5px solid rgb(161, 161, 161);
    transition: .3s;
    overflow: hidden;
}

.kartu:hover {
    height: 450px;
}

.galery {
    position: relative;
}

.galery:hover div {
    opacity: 1;
}

.col-md-4 .kartu img {
    position: absolute;
    width: 350px; 
    height: 225px;
    margin-left: -5px;
    border-radius: 20px;
    transform: scale(0.9);
    border: 5px solid rgb(161, 161, 161);
    transition: .3s;
    /*disable user if they trying to drag the image*/
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.kartu h4 {
    color: black;
    font-size: 20px;
    margin-left: 15px;
    position: absolute;
    top: 220px;
}

.galery div {
    position: absolute;
    transition: .3s;
    z-index: 999;
    right: 12px;
    top: 10px;
    opacity: 0;
    width: 315px; 
    height: 202.5px;
    border-radius: 20px;
    margin-left: -5px;
    border-radius: 20px;
    background-color: rgba(70, 69, 69, 0.63);
}

.galery div a svg {
    transform: rotate(-180deg);
    position: absolute;
    right: 15px;
    top: 10px;
    box-shadow: 2px -5px 5px rgba(0, 0, 0, 0.5);
}

.parent-pharagraph-project {
    position: absolute;
    top: 260px;
    color: black !important;
    padding: 20px;
    box-sizing: border-box;
}
/* end of card */


/* end of Projects*/

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90vh;
    padding: 0 2rem;
    background: rgb(63, 63, 63);
    border-bottom: 2px solid rgb(20, 20, 20);
}

.contact-section-header > h2 {
    font-size: 6rem;
}

@media (max-width: 28.75em) {
    .contact-section-header > h2 {
    font-size: 4rem;
    }
}

.contact-section-header > p {
    font-style: italic;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
    color: white !important;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}

.logo-title {
    display: inline-block;
}

#profile-link {
    display: inline-block;

}